In [110]:
import pandas as pd

In [111]:
from os import chdir

In [112]:
chdir('../Compile')

In [113]:
import Data_filter

In [114]:
words_df = pd.read_excel('../../Data/words_dictionary.xlsx')
words_df.columns = ['word', 'style']

In [115]:
words_df.head()

       word  style
0    абажур      0
1    абажур     -1
2  абориген     -1
3  абориген     -1
4  абориген      0

In [116]:
authors_df = pd.DataFrame.from_csv('../../Data/authors.csv')

In [117]:
authors_df.head()

                Фамилия        Имя    Отчество
Номер автора
0               Андреев     Леонид  Николаевич
1             Арцыбашев     Михаил    Петрович
2                 Бунин       Иван  Алексеевич
3                Герцен  Александр    Иванович
4                Гоголь    Николай  Васильевич

In [118]:
num = 0
for i in authors_df.values:
    print(str(num) + ' ' + i[0] + ' ' + i[1] + ' ' + i[2])
    num+=1

0 Андреев Леонид Николаевич
1 Арцыбашев Михаил Петрович
2 Бунин Иван Алексеевич
3 Герцен Александр Иванович
4 Гоголь Николай Васильевич
5 Гончаров Иван Александрович
6 Горький Максим Максимович
7 Грин Александр Степанович
8 Достоевский Федор Михайлович
9 Замятин Евгений Иванович
10 Короленко Владимир Галактионович
11 Куприн Александр Иванович
12 Лесков Николай Семенович
13 Пушкин Александр Сергеевич
14 Салтыков-Щедрин Михаил Евграфович
15 Сологуб Федор Кузьмич
16 Толстой Лев Николаевич
17 Тургенев Иван Сергеевич
18 Чехов Антон Павлович
19 Шмелев Иван Сергеевич

In [119]:
authors_composition_df = pd.DataFrame(columns = ['compositions'])

In [120]:
authors_composition_df.head()

Empty DataFrame
Columns: [compositions]
Index: []

In [121]:
for i in range(len(authors_df)):
    compositions = []
    for j in open('../../Data/authors_compositions/' + str(i) + '.txt', 'r', encoding='utf-8').readlines():
        compositions.extend(Data_filter.ParseSentence(j))
    appending_df = pd.DataFrame(index = [i], data = [[compositions]], columns = ['compositions'])
    authors_composition_df = authors_composition_df.append(appending_df)
authors_composition_df.index.name = 'authors'

In [124]:
authors_composition_df.head()

                                              compositions
authors
0        [всей, жизнью, василия, фивейского, тяготел, с...
1        [самое, важное, жизни, время, когда, влиянием,...
2        [кладбище, свежей, глиняной, насыпью, стоит, н...
3        [{'.': 0, '?': 0, '!': 0}, {'.': 0, '?': 0, '!...
4        [{'.': 0, '?': 0, '!': 0}, замечания, господ, ...

In [125]:
authors_composition_df.to_csv('../../Data/authors_compositions.csv')